body{
    font-family: "Ubuntu", sans-serif;
}
.sign-in{
    width: 120px;
    border-radius: 50px;
}

.navbar-nav {
    align-items: center;
}

.logo{
    width: 150px;
}

.header{
    background: #F0FFF0;
}

.box{
    padding: 5px;
    width: 20%;
    box-shadow: 5px 2px 15px gray;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 5px;
}

.box:hover{
    box-shadow: 5px 2px 20px gray;
}

.card-icon{
    width: 20px;
    float: left;
    margin-right: 10px;
}
.man-img{
    width: 200px;
}

.foot-area-bg{
    background: #282531;

}

.footer-link{}
.footer-link ul{}
.footer-link ul li{
    padding: 10px 5px;
    list-style-type: none;
}
.footer-link ul li a{
    color: #fff;
    text-decoration: none;
}